html {
  background-color: #141414;
  background-image: -o-radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
  scroll-behavior: smooth;
}
html h1, html h2 {
  font-weight: 600;
}
html h2 {
  margin: 0 0 52px;
  font-size: 26px;
}
html a {
  text-decoration: none;
  color: inherit;
}

@media (hover: hover) {
  header .navigation .flex-item:hover {
    color: #6982e1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  footer .flex-container .flex-item:hover {
    color: #6982e1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  footer .flex-container .flex-item:hover svg path {
    fill: #6982e1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: calc(100vh - 34px);
  max-width: 1200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 36px auto 0 auto;
}
body .mobile-menu {
  display: none;
  position: fixed;
  width: -webkit-fill-available;
  background: #1A1A1C;
  bottom: 0;
  left: 0;
  border-top: 1px solid #141414;
}
body .mobile-menu .mobile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  width: 25%;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body .mobile-menu .mobile-item svg path {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
body .mobile-menu .mobile-item:active {
  color: #6982e1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: rgba(105, 130, 225, 0.2117647059);
}
body .mobile-menu .mobile-item:active svg path:first-child {
  fill: #6982e1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
body .mobile-menu .mobile-item:last-child::after {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 120px;
}
header .logo {
  font-size: 28px;
  font-weight: 600;
}
header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
}
header .navigation .flex-item {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header .navigation .flex-item:active {
  color: #9cacf8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
header .telegram {
  margin-left: 78px;
  background-color: #141414;
  padding: 12px 24px;
  border-radius: 100px;
  border: 1px solid white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header .telegram:hover {
  background-color: #6982e1;
  border: 1px solid #6982e1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
header .telegram:active {
  background-color: #9cacf8;
  border: 1px solid #9cacf8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

footer {
  margin-bottom: 34px;
}
footer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}
footer .flex-container .flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
footer .flex-container .flex-item svg path {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer .flex-container .flex-item:active {
  color: #9cacf8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer .flex-container .flex-item:active svg path {
  fill: #9cacf8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

section.index-page .main-container .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 160px;
}
section.index-page .main-container .about-me img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
section.index-page .main-container .about-me h1 {
  font-size: 32px;
  margin: 0;
}
section.index-page .main-container .about-me p {
  margin: 10px 0 0;
  max-width: 650px;
  text-align: center;
}
section.index-page .main-container .about-me a {
  margin: 26px 0 0;
  display: block;
  width: max-content;
  background-color: white;
  padding: 13px 24px;
  border-radius: 100px;
  color: black;
  font-weight: 600;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section.index-page .main-container .about-me a:hover {
  background-color: #6982e1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: white;
}
section.index-page .main-container .about-me a:active {
  background-color: #9cacf8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: white;
}
section.index-page .main-container .my-projects {
  margin-bottom: 160px;
}
section.index-page .main-container .my-projects .flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
section.index-page .main-container .my-projects .flex-container .flex-item {
  height: 328px;
  background-color: #1A1A1C;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 46px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section.index-page .main-container .my-projects .flex-container .flex-item p {
  font-size: 16px;
  color: white;
  margin: 10px 0 0;
  font-weight: normal;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
section.index-page .main-container .my-projects .flex-container .flex-item:hover {
  color: #6982e1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
section.index-page .main-container .my-projects .flex-container .sendagaya:hover {
  color: #4E9472;
}
section.index-page .main-container .my-projects .flex-container .sendagaya-alt:hover {
  color: #3E6D5C;
}
section.index-page .main-container .my-projects .flex-container .y-flights:hover {
  color: #32a8dd;
}
section.index-page .main-container .my-skills {
  margin-bottom: 200px;
}
section.index-page .main-container .my-skills .flex-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 31px;
}
section.index-page .main-container .my-skills .flex-container .grid-container {
  display: flex;
  gap: 31px;
}
section.index-page .main-container .my-skills .flex-container .grid-container .flex-item {
  width: 50%;
}
section.index-page .main-container .my-skills .flex-container .flex-item {
  height: auto;
  background-color: #1A1A1C;
  border-radius: 12px;
  padding: 16px 24px 28px 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.index-page .main-container .my-skills .flex-container .flex-item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}
section.index-page .main-container .my-skills .flex-container .flex-item .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 12px;
}
section.index-page .main-container .my-skills .flex-container .flex-item .skills-container .skill {
  padding: 6px 12px;
  background-color: rgba(105, 130, 225, 0.16);
  color: #6982e1;
  border-radius: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
}

section.project-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
section.project-page section.main-container {
  margin-bottom: 200px;
}
section.project-page section.main-container .intro {
  margin-bottom: 52px;
}
section.project-page section.main-container .intro h1 {
  font-weight: 600;
  font-size: 42px;
  margin: 0;
}
section.project-page section.main-container .intro .site-link {
  margin: 26px 0 0;
  display: block;
  width: max-content;
  background-color: white;
  padding: 13px 24px;
  border-radius: 100px;
  color: black;
  font-weight: 600;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section.project-page section.main-container .intro .site-link:hover {
  background-color: #6982e1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: white;
}
section.project-page section.main-container .intro .site-link:active {
  background-color: #9cacf8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: white;
}
section.project-page section.main-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
section.project-page section.main-container .wrapper .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}
section.project-page section.main-container .wrapper .flex-container .flex-item span {
  display: block;
  color: #999999;
  margin-bottom: 12px;
}
section.project-page section.main-container .wrapper .flex-container .flex-item p {
  margin: 0 0 24px;
  line-height: 1.5em;
}
section.project-page section.main-container .wrapper .flex-container .flex-item a {
  color: #6982e1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
section.project-page section.main-container .wrapper .flex-container .flex-item a:hover {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: #9cacf8;
}
section.project-page section.main-container .wrapper .flex-container .flex-item a:active {
  color: #bec9fc;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
section.project-page section.main-container .wrapper .flex-container .flex-item ul:last-child {
  margin-bottom: 24px;
}
section.project-page section.main-container .wrapper .flex-container .flex-item ul {
  margin: 0 0 12px;
  padding: 0;
}
section.project-page section.main-container .wrapper .flex-container .flex-item ul li:first-child {
  margin-top: 6px;
}
section.project-page section.main-container .wrapper .flex-container .flex-item ul li {
  margin: 0 0 6px 25px;
}

@media (max-width: 1220px) {
  body {
    max-width: 90%;
  }
}
@media (max-width: 1024px) {
  body {
    max-width: 95%;
  }
  header .telegram {
    margin-left: 32px;
  }
}
@media (max-width: 768px) {
  body {
    max-width: 90%;
  }
  header .telegram {
    margin-left: 0;
  }
  header .navigation {
    gap: 15px;
  }
  section.index-page .main-container .my-projects h2 {
    text-align: center;
  }
  section.project-page section.main-container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
  }
  section.index-page .main-container .my-projects .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.index-page .main-container .my-projects .flex-container .flex-item {
    width: 80%;
  }
  section.index-page .main-container .my-skills h2 {
    text-align: center;
  }
  section.index-page .main-container .my-skills .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.index-page .main-container .my-skills .flex-container .flex-item {
    width: 80%;
  }
  section.index-page .main-container .my-skills .flex-container .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  section.index-page .main-container .my-skills .flex-container .grid-container .flex-item {
    width: 80%;
  }
  section.index-page .main-container .my-projects .flex-container .flex-item:active {
    background: rgba(105, 130, 225, 0.2117647059);
  }
  footer .flex-container .flex-item:active {
    color: #6982e1;
    background: rgba(105, 130, 225, 0.2117647059);
  }
  footer .flex-container .flex-item:active svg path {
    fill: #6982e1;
  }
  header .navigation .flex-item:active {
    color: #6982e1;
    background: rgba(105, 130, 225, 0.2117647059);
  }
}
@media (max-width: 550px) {
  header .navigation .flex-item {
    display: none;
  }
  section.project-page section.main-container .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  header .navigation {
    margin-top: 0;
  }
  body {
    max-width: 90%;
  }
  section.index-page .main-container .my-projects .flex-container .flex-item {
    height: 230px;
    font-size: 30px;
    font-weight: 600;
  }
  section.index-page .main-container .my-projects .flex-container .flex-item {
    width: 95%;
  }
  section.index-page .main-container .my-skills .flex-container .flex-item {
    width: 95%;
  }
  section.index-page .main-container .my-skills .flex-container .grid-container .flex-item {
    width: 95%;
  }
  body .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    margin-bottom: 112px;
  }
  section.project-page section.main-container .wrapper {
    gap: 0;
  }
  section.project-page section.main-container .wrapper {
    flex-direction: column;
  }
  section.project-page section.main-container .wrapper .flex-container {
    width: auto;
  }
  section.index-page .main-container .my-skills .flex-container .flex-item {
    height: auto;
  }
}
@media (max-width: 375px) {
  body {
    max-width: 90%;
  }
  header .logo {
    font-size: 20px;
    font-weight: 600;
  }
  header .telegram {
    padding: 8px 10px;
  }
  footer {
    margin-bottom: 99px;
  }
  body .mobile-menu .mobile-item {
    font-size: 12px;
    padding: 10px 15px;
  }
  section.index-page .main-container .my-projects .flex-container .flex-item {
    height: 200px;
  }
}
@media (max-height: 1080px) {
  body {
    overflow: auto !important;
  }
}

/*# sourceMappingURL=style.css.map */
