//variables
$main-black: #141414;
$alt-black: #1A1A1C;
$alt-hover: #1e1e20;
$main-hover: #6982e1;
$main-active: #90a1ee;
$main-transition: all 0.3s;


html {
  background-color: $main-black;
  background-image: -o-radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
  scroll-behavior: smooth;

  & h1, h2 {
    font-weight: 600;
  }

  & h2 {
    margin: 0 0 52px;
    font-size: 26px;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

body {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 36px auto 0 auto;
}

section.index-page {
  & header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 120px;

    .logo {
      font-size: 28px;
      font-weight: 600;
    }

    .navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 32px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 5px;
    }

    .flex-item {
      transition: $main-transition;
      -webkit-transition: $main-transition;
      -o-transition: $main-transition;

      &:hover {
        color: $main-hover;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;
      }

      &:active {
        color: $main-active;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;
      }
    }

    .telegram {
      margin-left: 78px;
      background-color: $main-black;
      padding: 12px 24px;
      border-radius: 100px;
      border: 1px solid white;
      transition: $main-transition;
      -webkit-transition: $main-transition;
      -o-transition: $main-transition;


      &:hover {
        background-color: $main-hover;
        border: 1px solid $main-hover;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;
      }

      &:active {
        background-color: $main-active;
        border: 1px solid $main-active;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;
      }
    }
  }

  .main-container {
    .about-me {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 160px;

      & img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      & h1 {
        font-size: 32px;
        margin: 0;
      }

      & p {
        margin: 10px 0 0;
        max-width: 650px;
        text-align: center;
      }

      & a {
        margin: 30px 0 0;
        background-color: white;
        padding: 13px 24px;
        border-radius: 100px;
        color: black;
        font-weight: 600;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;

        &:hover {
          background-color: $main-hover;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;
          color: white;
        }

        &:active {
          background-color: $main-active;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;
          color: white;
        }
      }
    }

    .my-projects {
      margin-bottom: 160px;

      .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 32px;

        .flex-item {
          width: 584px;
          height: 328px;
          background-color: $alt-black;
          border-radius: 16px;
          color: $main-hover;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 46px;
          font-weight: 600;
          cursor: pointer;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;
          text-align: center;

          & p {
            font-size: 16px;
            color: white;
            margin: 10px 0 0;
            font-weight: normal;
            transition: $main-transition;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;
          }

          &:hover {
            background-color: $alt-hover;
            transition: $main-transition;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
          }
        }

        .sendagaya {
          color: #4E9472;
        }

        .sendagaya-alt {
          color: #3E6D5C;
        }

        .y-flights {
          color: #32a8dd;
        }
      }
    }

    .my-skills {
      .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 31px;
        margin-bottom: 200px;

        .flex-item {
          width: 379px;
          height: 176px;
          background-color: $alt-black;
          border-radius: 12px;
          padding: 16px 24px 24px 24px;
          box-sizing: border-box;


          & p {
            display: flex;
            align-items: center;
            gap: 16px;
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 24px;
          }

          .skills-container {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            .skill {
              padding: 6px 12px;
              background-color: rgba(105, 130, 225, 0.16);
              color: $main-hover;
              border-radius: 100px;
              width: max-content;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  & footer {
    margin-bottom: 34px;

    .flex-container {
      display: flex;
      justify-content: center;
      gap: 32px;

      .flex-item {
        display: flex;
        align-items: center;
        gap: 8px;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;

        & svg {
          & path {
            transition: $main-transition;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;
          }
        }

        &:hover {
          color: $main-hover;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;

          & svg {
            & path {
              fill: $main-hover;
              transition: $main-transition;
              -webkit-transition: $main-transition;
              -o-transition: $main-transition;
            }
          }
        }

        &:active {
          color: $main-active;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;

          & svg {
            & path {
              fill: $main-active;
              transition: $main-transition;
              -webkit-transition: $main-transition;
              -o-transition: $main-transition;
            }
          }
        }
      }
    }
  }
}
