//variables
$main-black: #141414;
$alt-black: #1A1A1C;
$alt-hover: #1e1e20;
$main-hover: #6982e1;
$main-active: #9cacf8;
$main-transition: all 0.3s;


html {
  background-color: $main-black;
  background-image: -o-radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
  scroll-behavior: smooth;

  & h1, h2 {
    font-weight: 600;
  }

  & h2 {
    margin: 0 0 52px;
    font-size: 26px;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

@media (hover: hover) {
  header .navigation .flex-item:hover {
    color: #6982e1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

  footer .flex-container .flex-item {
    &:hover {
      color: $main-hover;
      transition: $main-transition;
      -webkit-transition: $main-transition;
      -o-transition: $main-transition;

      & svg {
        & path {
          fill: $main-hover;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;
        }
      }
    }
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: calc(100vh - 34px);
  max-width: 1200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 36px auto 0 auto;

  .mobile-menu {
    display: none;
    position: fixed;
    width: -webkit-fill-available;
    background: $alt-black;
    bottom: 0;
    left: 0;
    border-top: 1px solid $main-black;

    .mobile-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      width: 25%;
      padding: 15px 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      & svg {
        & path {
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
        }
      }


      &:active {
        color: $main-hover;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        background: #6982e136;


        & svg {
          & path:first-child {
            fill: $main-hover;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
          }
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}


header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 120px;

  .logo {
    font-size: 28px;
    font-weight: 600;
  }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;

    .flex-item {
      transition: $main-transition;
      -webkit-transition: $main-transition;
      -o-transition: $main-transition;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:active {
        color: $main-active;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;
      }
    }
  }

  .telegram {
    margin-left: 78px;
    background-color: $main-black;
    padding: 12px 24px;
    border-radius: 100px;
    border: 1px solid white;
    transition: $main-transition;
    -webkit-transition: $main-transition;
    -o-transition: $main-transition;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);


    &:hover {
      background-color: $main-hover;
      border: 1px solid $main-hover;
      transition: $main-transition;
      -webkit-transition: $main-transition;
      -o-transition: $main-transition;
    }

    &:active {
      background-color: $main-active;
      border: 1px solid $main-active;
      transition: $main-transition;
      -webkit-transition: $main-transition;
      -o-transition: $main-transition;
    }
  }
}

footer {
  margin-bottom: 34px;

  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 32px;

    .flex-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 8px;
      transition: $main-transition;
      -webkit-transition: $main-transition;
      -o-transition: $main-transition;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      & svg {
        & path {
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;
        }
      }

      &:active {
        color: $main-active;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;

        & svg {
          & path {
            fill: $main-active;
            transition: $main-transition;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;
          }
        }
      }
    }
  }
}

@mixin action-link {
  margin: 26px 0 0;
  display: block;
  width: max-content;
  background-color: white;
  padding: 13px 24px;
  border-radius: 100px;
  color: black;
  font-weight: 600;
  transition: $main-transition;
  -webkit-transition: $main-transition;
  -o-transition: $main-transition;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: $main-hover;
    transition: $main-transition;
    -webkit-transition: $main-transition;
    -o-transition: $main-transition;
    color: white;
  }

  &:active {
    background-color: $main-active;
    transition: $main-transition;
    -webkit-transition: $main-transition;
    -o-transition: $main-transition;
    color: white;
  }
}

section.index-page {

  .main-container {
    .about-me {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 160px;

      & img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      & h1 {
        font-size: 32px;
        margin: 0;
      }

      & p {
        margin: 10px 0 0;
        max-width: 650px;
        text-align: center;
      }

      & a {
        @include action-link;

      }
    }

    .my-projects {
      margin-bottom: 160px;

      .flex-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        .flex-item {
          height: 328px;
          background-color: $alt-black;
          border-radius: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 46px;
          font-weight: 600;
          cursor: pointer;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -o-transition: $main-transition;
          text-align: center;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          & p {
            font-size: 16px;
            color: white;
            margin: 10px 0 0;
            font-weight: normal;
            transition: $main-transition;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;
          }

          &:hover {
            color: $main-hover;
            transition: $main-transition;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;
          }
        }

        .sendagaya {
          &:hover {
            color: #4E9472;
          }
        }

        .sendagaya-alt {
          &:hover {
            color: #3E6D5C;
          }
        }

        .y-flights {
          &:hover {
            color: #32a8dd;
          }
        }
      }
    }

    .my-skills {
      margin-bottom: 200px;

      .flex-container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 31px;

        .grid-container {
          display: flex;
          gap: 31px;

          .flex-item {
            width: 50%;
          }
        }

        .flex-item {
          height: auto;
          background-color: $alt-black;
          border-radius: 12px;
          padding: 16px 24px 28px 24px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;


          & p {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 16px;
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 24px;
          }

          .skills-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            gap: 12px;

            .skill {
              padding: 6px 12px;
              background-color: rgba(105, 130, 225, 0.16);
              color: $main-hover;
              border-radius: 100px;
              width: -webkit-max-content;
              width: -moz-max-content;
              width: max-content;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

section.project-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  section.main-container {
    margin-bottom: 200px;

    .intro {
      margin-bottom: 52px;

      & h1 {
        font-weight: 600;
        font-size: 42px;
        margin: 0;
      }

      .site-link {
        @include action-link;
      }
    }


    .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 40px;

      .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;

        .flex-item {
          & span {
            display: block;
            color: #999999;
            margin-bottom: 12px;
          }

          & p {
            margin: 0 0 24px;
            line-height: 1.5em;
          }

          & a {
            color: $main-hover;
            transition: $main-transition;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;

            &:hover {
              transition: $main-transition;
              -webkit-transition: $main-transition;
              -o-transition: $main-transition;
              color: $main-active;
            }

            &:active {
              color: #bec9fc;
              transition: $main-transition;
              -webkit-transition: $main-transition;
              -o-transition: $main-transition;
            }
          }

          & ul:last-child {
            margin-bottom: 24px;
          }

          & ul {
            margin: 0 0 12px;
            padding: 0;

            & li:first-child {
              margin-top: 6px;
            }

            & li {
              margin: 0 0 6px 25px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1220px) {
  body {
    max-width: 90%;
  }

}

@media (max-width: 1024px) {
  body {
    max-width: 95%;
  }
  header .telegram {
    margin-left: 32px;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 90%;
  }
  header .telegram {
    margin-left: 0;
  }
  header .navigation {
    gap: 15px;
  }

  section.index-page .main-container .my-projects h2 {
    text-align: center;
  }

  section.project-page section.main-container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
  }

  section.index-page .main-container .my-projects .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section.index-page .main-container .my-projects .flex-container .flex-item {
    width: 80%;
  }

  section.index-page .main-container .my-skills h2 {
    text-align: center;
  }

  section.index-page .main-container .my-skills .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section.index-page .main-container .my-skills .flex-container .flex-item {
    width: 80%;
  }

  section.index-page .main-container .my-skills .flex-container .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  section.index-page .main-container .my-skills .flex-container .grid-container .flex-item {
    width: 80%;
  }

  section.index-page .main-container .my-projects .flex-container .flex-item {
    &:active {
      background: #6982e136;
    }
  }

  footer .flex-container .flex-item:active {
    color: $main-hover;
    background: #6982e136;

    & svg {
      & path {
        fill: $main-hover;
      }
    }
  }

  header .navigation .flex-item:active {
    color: $main-hover;
    background: #6982e136;
  }
}

@media (max-width: 550px) {
  header .navigation .flex-item {
    display: none;
  }

  section.project-page section.main-container .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header .navigation {
    margin-top: 0;
  }
  body {
    max-width: 90%;
  }

  section.index-page .main-container .my-projects .flex-container .flex-item {
    height: 230px;
    font-size: 30px;
    font-weight: 600;
  }

  section.index-page .main-container .my-projects .flex-container .flex-item {
    width: 95%;
  }

  section.index-page .main-container .my-skills .flex-container .flex-item {
    width: 95%;
  }

  section.index-page .main-container .my-skills .flex-container .grid-container .flex-item {
    width: 95%;
  }

  body .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer {
    margin-bottom: 112px;
  }

  section.project-page section.main-container .wrapper {
    gap: 0;
  }

  section.project-page section.main-container .wrapper {
    flex-direction: column;
  }

  section.project-page section.main-container .wrapper .flex-container {
    width: auto;
  }

  section.index-page .main-container .my-skills .flex-container .flex-item {
    height: auto;
  }
}

@media (max-width: 375px) {
  body {
    max-width: 90%;
  }
  header .logo {
    font-size: 20px;
    font-weight: 600;
  }

  header .telegram {
    padding: 8px 10px;
  }

  footer {
    margin-bottom: 99px;
  }

  body .mobile-menu .mobile-item {
    font-size: 12px;
    padding: 10px 15px;
  }

  section.index-page .main-container .my-projects .flex-container .flex-item {
    height: 200px;
  }


}

@media (max-height: 1080px) {
  body {
    overflow: auto !important;
  }
}
